<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InternetShop_Rymanov.Properties.Settings.Rymanov03_01_InternetShopConnectionString"
            connectionString="Data Source=SBD\MSSQL;Initial Catalog=Rymanov03.01-InternetShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>